* {
  margin: 0;
}

.App {
  background-color: #fafafa;
  /* height: 100vh; */
}

.app__header {
  background-color: white;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
  padding: 20px;
}

.app__headerImage {
  height: 45px;
  width: 45px;
}